<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Members Only</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/create-message">Create a new message</a>
          </li>
          <% if (!user.isMember) { %>
            <li class="nav-item">
              <a class="nav-link" href="/join-club">Join Club</a>
            </li>
          <% } %>
          <% if (!user.admin) { %>
            <li class="nav-item">
              <a class="nav-link" href="/create-admin">Be admin</a>
            </li>
          <% } %>
            <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sign-up">Signup</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
  
  <div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <ul class="list-group">
                <% messages.forEach((message) => { %>
                  <li class="list-group-item mb-3 position-relative">
                    <div class="d-flex justify-content-between">
                      <h3><%= message.title %></h3>
                      <% if (user && user.admin) { %>
                        <span class="trash-icon">
                          <a href="/delete-message/<%= message._id %>">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                              </svg>
                            </svg>
                          </a>
                        </span>
                      <% } %>
                    </div>
                    <p><%= message.text %></p>
                    <% if (user && user.isMember)  { %>
                      <p class="small text-muted">Posted by: <%= message.user.username %></p>
                      <p class="small text-muted">Timestamp: <%= message.timestamp %></p>
                    <% } %>
                  </li>
                  
                <% }); %>
            </ul>
        </div>
    </div>
</div>



</body>
</html>